@model List<UserVm>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}
    <div class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Users</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th >#</th>     
                                <th>Fullname</th>
                                <th>Email</th>
                                <th>Username</th>
                                <th>IsActivated</th>
                                <th>Role</th>
                                <th>Settings</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserVm item in Model)
                            {
                                count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.Fullname</td>
                                <td>@item.Email</td>
                                <td>@item.Username</td>
                                <td>
                                    @if (item.IsActivated)
                                    {
                                        <p style="color:lightgreen">Active</p>
                                    }
                                    else
                                    {
                                        <p style="color:red">Desable</p>

                                    }
                                </td>
                                <td>@item.Role</td>
                                <td>
                                        @if (item.IsActivated)
                                        {
                                            <a asp-action="IsActive" asp-route-id="@item.Id" class="btn btn-danger">
                                                Desabled
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="IsActive" asp-route-id="@item.Id" class="btn btn-success">
                                                Activated
                                            </a>
                                        }
                                        <a asp-action="ChangeRole" asp-route-id="@item.Id" class="btn btn-warning">
                                            Change Role
                                        </a>
                                        <a asp-action="ChangePassword" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="mdi mdi-delete"></i>
                                        </a>                                    
                                </td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



